* {
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-image: url(./assets/bg\ header.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile--avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.avatar--picture {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
}

.profile--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.profile--name{
  color: white;
  font-family: Roboto;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 3px;
}

.profile--role{
  color: white;
  font-size: 18px;
  line-height: 21px;
  margin-top: 3px;
  margin-bottom: 7px;
}

.profile--medias {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 7px;
}

.media__icon{
  width: 22px;
  height: 22px;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.bio--title {
  max-width: 438px;
  max-height: 78px;
  font-size: 42px;
  line-height: 49px;
  margin-bottom: 6px;
  color: #FFFFFF;
}

.bio--text {
  max-width: 438px;
  max-height: 78px;
  font-size: 22px;
  line-height: 26px;
  margin-top: 6px;
  color: #FFFFFF;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: #343434;
}

.project--title {
  margin: 40px 0 50px 0;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 54px;
}

.projects {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.project--name {
  color: white;
  text-decoration: none;
  justify-self: center;
  width: 300px;
  height: 26px;
  font-size: 22px;
  line-height: 26px;
}

.project--description {
  color: white;
  max-width: 310px;
  width: 194px;
  height: 48px;
  font-size: 14px;
  line-height: 16px;
}

.project--img {
  width: 320Px;
  height: 165px;
  margin: 18px 0;
  background: url(.jpg), #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

footer {
  font-size: 10px;
  line-height: 16px;
  color: #FFFFFF;
  background-color: #343434;
  width: 100%;
  height:auto;
  padding-left: 25px;
}


@media (max-width: 1023px) {

  body {
    background-color: #343434 ;
  }
  header {
    flex-direction: column;
    width: 100%;
  }

  .projects {
    flex-direction: column;
  }

  section {
    width: 100%;
  }

  .avatar--picture  {
    max-width: 150px;
    max-height: 150px;
  }

  .profile--name {
    color: white;
    font-family: Roboto;
    font-size: 18px;
    line-height: 26px;
  }

  .profile--role {
    color: white;
    font-size: 12px;
  }

  .profile--medias {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  .media__icon {
    width: 13px;
    height: 13px;
  }

  .bio--title{
    max-width: 300px;
    font-size: 25px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 10px;
  }

  .bio--text {
    max-width: 300px;
    font-size: 15px;
    color: #FFFFFF;
  }

  .project--title {
    margin: 40px 0 50px 0;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 18px;
  }
  .project--name {
    color: white;
    text-decoration: none;
    font-size: 15px;
  }

  .project--img {
    width: 260Px;
    height: 110px;
    margin: 18px 0;
    background: url(.jpg), #C4C4C4;
  }

  footer {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: #343434;
  }
}
