* {
    font-family: 'Poppins', sans-serif;
    color: #000; 
    text-decoration: none;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 680px;
    padding: 20px;
}

.header__avatar {
    width: 54px;
    height: 54px;
    border-radius: 180px;
}

.header__menu {
    display: flex;
    width: auto;
}

.header__item {
    width: auto;
    font-size: 14px;
    line-height: 21px;
    margin: 0 10px; 

}

.header__itemImg  {
    width: auto;
    margin-right: 5px;
}

.header__item--hidden {
    display: none;
}

#bold {
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    header {
        padding: 20px 0;
    }

    .header__item:nth-child(4) {
        margin-left: 40px;
    }

    .header__link {
        display: flex;
    }

    .header__item--hidden {
        display: flex;
        flex-direction: row;
    }
}